<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2000 - 2020 Silverpeas

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    As a special exception to the terms and conditions of version 3.0 of
    the GPL, you may redistribute this Program in connection with Free/Libre
    Open Source Software ("FLOSS") applications as described in Silverpeas's
    FLOSS exception.  You should have received a copy of the text describing
    the FLOSS exception, and it is also available here:
    "http://www.silverpeas.org/docs/core/legal/floss_exception.html"

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>Deploy Silverpeas in the Cloud</title>
    <author>Miguel Moquillon</author>
  </properties>
  <head>
  </head>
  <body>
    <section name="Deploy Silverpeas in the Cloud">
      <subsection name="A Docker image">
        <p>
          <img src="../images/Docker_logo.png" alt="Docker"
               style="padding-right:10px;float:left;position:relative;width:150px"/>
          <br/>
          Silverpeas 6 is available in the
          <a href="https://hub.docker.com/_/silverpeas">official repository</a> of the
          <a href="https://hub.docker.com/">Docker Hub</a>.
        </p>
        <p>
          To install the docker image of Silverpeas 6 in the cloud of your choice, please follow
          both the instructions in the
          <a href="https://hub.docker.com/_/silverpeas">Silverpeas Docker Image page</a> and in
          the documentation of your cloud provider.
        </p>
      </subsection>
    </section>
  </body>
</document>
