<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2000 - 2022 Silverpeas

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    As a special exception to the terms and conditions of version 3.0 of
    the GPL, you may redistribute this Program in connection with Free/Libre
    Open Source Software ("FLOSS") applications as described in Silverpeas's
    FLOSS exception.  You should have recieved a copy of the text describing
    the FLOSS exception, and it is also available here:
    "https://www.silverpeas.org/docs/core/legal/floss_exception.html"

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<document>
  <properties>
    <author>Miguel Moquillon</author>
    <title>Installation of Silverpeas 6</title>
  </properties>
  <head>
  </head>
  <body>

    <p>
      Silverpeas 6 is the new major version of Silverpeas. It replaces definitively the previous 5.x versions.
      A great work has been done both in its engines that propels Silverpeas as well as in its Web GUI to smooth
      the user interaction and to offer a better user experience.
      Silverpeas 6.0 and 6.1 were based upon Java 8, JEE 7, and respectively the application
      server Wildfly 10.1.0 and 18.0.1. Starting with 6.2, Silverpeas is now based upon Java 11, JEE 8 and
      Wildfly ${current_wildfly_version}.
    </p>
    <p>
      Silverpeas 6 isn't compatible with Silverpeas 5. For an upgrade from a Silverpeas 5 installation, please take care of:
    </p>
    <ul>
      <li>the upgrade can be performed only from Silverpeas &gt;= 5.15,</li>
      <li>some migration treatments by hand are required on the properties and on the configuration before the upgrade (this is not the subject of this page).</li>
    </ul>
    <p>
      This document is about how to install Silverpeas 6 on a server. However, as alternative, Silverpeas 6 is also available as an official docker image
      in the <a href="https://hub.docker.com/_/silverpeas/">Official Docker Hub Repository</a>.
    </p>

    <section name="Give it a try">
    <p>
      <strong>You can give easily a try</strong> of Silverpeas by using one of our testing dedicated Silverpeas distribution in which the database is directly embedded
      with Silverpeas:
    </p>
    <ul>
      <li><em>A docker image of Silverpeas</em> in our <a href="https://hub.docker.com/r/silverpeas/silverpeas-test/">Docker Hub repository</a>,</li>
      <li><em>A Izpack Installer of Silverpeas</em> for both Unix-like system and Windows available in our <a href="https://www.silverpeas.org/files/Silverpeas-${installer_izpack_version}-installer.jar">our site</a></li>
    </ul>
    <p>Both the Docker image and the Izpack installer provide only a stable version of Silverpeas, no bug-fixes ones.</p>
    </section>

    <section name="Download the production-ready distribution">

    <p>The above solutions are obviously limited in functionalities as Silverpeas requires additional external tools and services to perform some of its
      advanced features and those services aren't packaged with them (in order to keep them simple and light for a testing purpose).</p>
    <p>
      <img src="../images/stable_version_icon_32px.png"/> To fetch directly <em>the last stable version</em>, production-ready, of Silverpeas, please use the links below to download both the distribution of Wildfly required by Silverpeas and the current distribution of Silverpeas:
    </p>
    <ul>
      <li>
        <img src="../images/logos/wildfly_logo.png" width="60"/>
        <a href="https://www.silverpeas.org/files/wildfly-${current_wildfly_version}.Final.zip">Wildfly ${current_wildfly_release}</a>
      </li>
      <li>
        <img src="../images/silverpeas_icon_60x32px.png"/>
        <a href="https://www.silverpeas.org/files/silverpeas-${installer_stable_version}-wildfly${current_wildfly_release}.zip">silverpeas-${installer_stable_version}-wildfly${current_wildfly_release}.zip</a>
        (<a href="https://www.silverpeas.org/files/silverpeas-${installer_stable_version}-wildfly${current_wildfly_release}.zip.asc">the GPG signature of the distribution</a>)
      </li>
    </ul>
    <p>
      <img src="../images/snapshot_version_icon_24px.png"/> You can also fetch <em>the last release candidate</em> of the next major version of Silverpeas by downloading both the distribution of Wildfly required by it and its current distribution.
    </p>
      <p>For those wishing to upgrade their Silverpeas distribution to the latest release candidate, you have to know latter has an impacting change on its implementation of the JCR that requires a migration of it. See below on how to install Silverpeas for more explanations.</p>
    <ul>
      <li>
        <img src="../images/logos/wildfly_logo.png" width="60"/>
        <a href="https://www.silverpeas.org/files/wildfly-${next_wildfly_version}.Final.zip">Wildfly ${next_wildfly_release}</a>
      </li>
      <li>
        <img src="../images/silverpeas_icon_60x32px.png"/>
        <a href="https://www.silverpeas.org/files/silverpeas-${installer_build_version}-wildfly${next_wildfly_release}.zip">silverpeas-${installer_build_version}-wildfly${next_wildfly_release}.zip</a>
        (<a href="https://www.silverpeas.org/files/silverpeas-${installer_build_version}-wildfly${next_wildfly_release}.zip.asc">the GPG signature of the distribution</a>)
      </li>
    </ul>

    <p>Don't forget to read the instructions below about how to install Silverpeas from these two distributions.</p>

    </section>

    <section name="Pre-requisite">
      <p>
        Silverpeas 6 can be automatically deployed on the JEE application server <a href="http://wildfly.org/">Wildfly</a> &gt;= 10.1.0.
        Nevertheless, we strongly recommend to deploy it on Wildfly ${current_wildfly_version} as this version was tested by ourselves with the current version of Silverpeas.
      </p>
      <p>
        Silverpeas 6 depends on external tools/services to run or to offer a better user experience.
        Please find below a list of the tools and services you will need to install.<br/>
      </p>
      <subsection name="Java">
        <p>
          Silverpeas 6.0 and 6.1 requires Java SE Development Kit (JDK) version 8 to run, which can be downloaded <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html#jdk">from Oracle</a>
          or <a href="http://openjdk.java.net/install/index.html">from OpenJDK</a>. Don't forget to set up the environment variable <code>JAVA_HOME</code> with the path of the installation directory of Java.
        </p>
        <p>
          Silverpeas 6.2 and above requires Java SE Development Kit (JDK) version 11 to run, which can be downloaded <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html#jdk">from Oracle</a>
          or <a href="http://openjdk.java.net/install/index.html">from OpenJDK</a>. Don't forget to set up the environment variable <code>JAVA_HOME</code> with the path of the installation directory of Java.
        </p>
      </subsection>
      <subsection name="Wildfly">
        <p>
          Silverpeas requires Wildfly as a runtime that is the open-source version of <a href="https://developers.redhat.com/products/eap/overview/">JBoss EAP</a>; JBoss EAP is the commercial, enterprise class, version of Wildfly sold by RedHat.
          If you need maintenance and services on the application server itself, then we recommend you to contact RedHat in order to subscribe to their <a href="https://www.redhat.com/apps/store/middleware/jboss_enterprise_application_platform.html">RedHat Subscription plan</a>.
          You can download Wildfly from different locations:
        </p>
        <ul>
          <li><strong>From our own Web site</strong>: <a href="https://www.silverpeas.org/files/wildfly-${current_wildfly_version}.Final.zip">Wildfly ${current_wildfly_version}</a></li>
          <li><strong>From the official Wildfly Project Web site</strong>: <a href="http://wildfly.org/downloads/">Wildfly downloads page</a></li>
        </ul>
        <p>
          Once a Widfly or a JBoss EAP distribution downloaded, please unzip it into the location you want Wildfly/JBoss to be installed and then set up the environment variable <code>JBOSS_HOME</code>
          with the path of the extracted Wildfly/JBoss directory.
        </p>
        <p>
            <img src="../images/linux_logo_24X24.png"/>
            For example, in Unix:
        </p>
          <ul>
            <li>Unzip the <code>wildfly-${current_wildfly_version}.Final.zip</code> file into <code>/opt/</code></li>
            <li>Sets the <code>$JBOSS_HOME</code> environment variable with the path <code>/opt/wildfly-${current_wildfly_version}.Final</code></li>
          </ul>
        <p>
            <img src="../images/windows_logo_24X24.png"/>
            For example, in Windows:
        </p>
          <ul>
            <li>Unzip the <code>wildfly-${current_wildfly_version}.Final.zip</code> file into <code>C:\Silverpeas</code></li>
            <li>Sets the <code>%JBOSS_HOME%</code> environment variable with the path <code>C:\Silverpeas\wildfly-${current_wildfly_version}.Final</code></li>
          </ul>
        <p>
          In the next sections, we will refer the JBOSS_HOME environment variable by its name (without the OS-specific characters like <code>%</code> or <code>$</code>).
        </p>
      </subsection>
      <subsection name="PostgreSQL">
        <p>Silverpeas supports the following RDBMS:</p>
        <ul>
          <li>PostgreSQL >= 9.2,</li>
          <li>MS-SQLServer,</li>
          <li>and Oracle >= 12.</li>
        </ul>
        <p>
          However we recommend to use PostgreSQL for its great capabilities and flexibilities compared to the others solutions. This is why Silverpeas is pre-configured to run on PostgreSQL 9.x
          which can be downloaded from <a href="http://www.postgresql.org/download/">here</a>.
        </p>
        <p>You will have to create a database <code>Silverpeas</code> and a user with administrative rights for this database.
          (The credentials of this user have to be specified in the Silverpeas configuration file; see <a href="#Configuration">the corresponding section</a>.)
          You may use the tool <a href="http://www.pgadmin.org/download/">pgAdmin</a> which provides a GUI to manage PostgreSQL.
        </p>
      </subsection>
      <subsection name="LibreOffice">
        <p>
          Silverpeas needs LibreOffice (or OpenOffice.org) to convert documents into various formats (mainly in PDF).
          For Silverpeas 6.0, this office suite has to be ran as a service in background (daemon in Unix jargon), but no more since Silverpeas 6.1; indeed, since this version, Silverpeas 6 manages itself the execution of LibreOffice as a background service.
        </p>
        <p>
          It is a free software (free as freedom) and it can be downloaded <a href="https://fr.libreoffice.org/download/libreoffice-stable/">from its home site</a>.
        </p>
      </subsection>
      <subsection name="ImageMagick">
        <p>
          Silverpeas uses the image handling tool suite <a href="http://www.imagemagick.org/script/index.php">ImageMagick</a> to render the preview of documents and to resize images used in Web pages.
        </p>
        <p>It is a free software (free as freedom) and it can be downloaded <a href="http://www.imagemagick.org/script/binary-releases.php">from this page</a></p>
      </subsection>
      <subsection name="SWFTools, Ghostscript and Pdf2Json">
        <p>
          Whereas not required to run and to use Silverpeas, we <em>recommend strongly</em> to install the SWFTools tool suite to enhance the user experience with Silverpeas.
          It is used by Silverpeas to preview and to visualize any document content (whatever the document format).
          It depends on the Ghostscript software so you have also to install it.
        </p>
        <p>
          Pdf2Json is another tool, developed and provided by <a href="http://flexpaper.devaldi.com/">FlexPaper</a>. It is used by Silverpeas to split a large document into smaller pieces
          in order to be processed more efficiently by FlexPaper (that is used in the visualization of document content).
        </p>
        <p>
          They are all free softwares (free as freedom) and they can be downloaded from:
        </p>
        <ul>
          <li><strong>Ghostscript</strong>: <a href="http://www.ghostscript.com/download/">http://www.ghostscript.com/download/</a></li>
          <li><strong>SWFTools</strong>: <a href="http://www.swftools.org/download.html">http://www.swftools.org/download.html</a></li>
          <li><strong>Pdf2Json</strong>: <a href="https://github.com/flexpaper/pdf2json/releases">https://github.com/flexpaper/pdf2json/releases</a></li>
        </ul>
        <p>
          If you expect to install Silverpeas on a server running with a Debian-based distribution, you cannot use the SWFTools software packaged with your distribution.
          Indeed, it lacks of the program <code>pdf2swf</code> that is used by Silverpeas.
        </p>
        <p>
          For Unix-like operating systems, we have compiled and packaged both Pdf2Json and SWFTools so that you have just to unpack them at the root directory;
          they will be installed into the <code>/usr/local</code> folder so that their binary will be by default in the <code>PATH</code> (they will be in <code>/usr/local/bin</code>).
        </p>
        <ul>
          <li><strong>SWFTools</strong>: <a href="https://www.silverpeas.org/files/swftools-bin-0.9.2.zip">swftools-bin-0.9.2.zip</a></li>
          <li><strong>Pdf2Json</strong>: <a href="https://www.silverpeas.org/files/pdf2json-bin-0.68.zip">pdf2json-bin-0.68.zip</a></li>
        </ul>
      </subsection>
    </section>
    <section name="Installation">
      <p>You will get better performance with GNU/Linux (or *BSD) systems.</p>
      <subsection name="Preparing Silverpeas">
        <p>We currently provide two distributions of Silverpeas 6: one for the current
          stable version of Silverpeas and another one with a build version of the next stable version of Silverpeas yet in development.
          Both of these distributions include a pre-configured Silverpeas installation tool that will build Silverpeas 6 from different software bundles downloaded from our <a href="https://www.silverpeas.org/nexus/">Nexus Repository Manager</a>,
          then it will set up Wildfly and the database for Silverpeas.
        </p>
        <p>Please download:</p>
        <dl>
          <dt>
            <img src="../images/stable_version_icon_32px.png"/>
            Stable version (currently ${installer_stable_version}): <a href="https://www.silverpeas.org/files/silverpeas-${installer_stable_version}-wildfly${current_wildfly_release}.zip">silverpeas-${installer_stable_version}-wildfly${current_wildfly_release}.zip</a>
            (<a href="https://www.silverpeas.org/files/silverpeas-${installer_stable_version}-wildfly${current_wildfly_release}.zip.asc">the GPG signature of the distribution</a>)
          </dt>
          <dd>
            <p>The stable version of Silverpeas is built atop of JEE 7, runs in Java 8, and is tested with Wildfly ${current_wildfly_release} that can be directly downloaded from <a href="https://www.silverpeas.org/files/wildfly-${current_wildfly_version}.Final.zip">our web site</a>.</p>
          </dd>
          <dt>
            <img src="../images/snapshot_version_icon_24px.png"/>
            Build version (currently ${installer_build_version}): <a href="https://www.silverpeas.org/files/silverpeas-${installer_build_version}-wildfly${next_wildfly_release}.zip">silverpeas-${installer_build_version}-wildfly${next_wildfly_release}.zip</a>
            (<a href="https://www.silverpeas.org/files/silverpeas-${installer_build_version}-wildfly${next_wildfly_release}.zip.asc">the GPG signature of the distribution</a>)
          </dt>
          <dd>
            <p>The build version of Silverpeas is built atop of JEE 8, runs in Java 11 (and not anymore in Java 8), and is tested with Wildfly ${next_wildfly_version} that can be directly downloaded from <a href="https://www.silverpeas.org/files/wildfly-${next_wildfly_version}.Final.zip">our web site</a>.</p>
          </dd>
        </dl>
        <blockquote title="Warning">
        <h5>Warning</h5>
        The next version of Silverpeas will be based upon the Apache Jackrabbit
        Oak implementation of the JCR and not anymore on the Apache Jackrabbit 2. So, the following
        requirements have to be satisfied for your existing Silverpeas:
        <ul>
          <li>Don't update the version of Silvepreas: the distribution archive of <i>silverpeas-${installer_build_version}-wildfly${next_wildfly_release}.zip</i> has to be get and used instead.</li>
          <li>Migrate your JCR repository to Jackrabbit Oak: for doing, fetch the <a href="https://repo1.maven.org/maven2/org/apache/jackrabbit/oak-upgrade/1.50.0/oak-upgrade-1.50.0.jar">oak-upgrade-1.50.0.jar</a> tool
            and follow the instructions in the <a href="https://jackrabbit.apache.org/oak/docs/migration.html">migration guide</a></li>
        </ul>
        </blockquote>
        <p>Check the integrity of the distribution after importing our public key:</p>
        <source>gpg --keyserver hkp://pgp.mit.edu --recv-keys 3DF442B6
gpg --verify silverpeas-${installer_stable_version}-wildfly${current_wildfly_release}.zip.asc</source>
        <p>Unzip the content into the location you want Silverpeas to be installed.</p>
        <p>Set up the environment variable <b>SILVERPEAS_HOME</b> with the path of the extracted Silverpeas directory.</p>
        <p>
          <img src="../images/linux_logo_24X24.png"/>
          For example, in Unix:
        </p>
        <ul>
          <li>Unzip the <code>silverpeas-${installer_stable_version}-wildfly${current_wildfly_release}.zip</code> file into <code>/opt/</code></li>
          <li>Sets the <code>$SILVERPEAS_HOME</code> environment variable with the path <code>/opt/silverpeas-${installer_stable_version}-wildfly${current_wildfly_release}</code></li>
        </ul>
        <p>
          <img src="../images/windows_logo_24X24.png"/>
          For example, in Windows:
        </p>
        <ul>
          <li>Unzip the <code>silverpeas-${installer_stable_version}-wildfly${current_wildfly_release}.zip</code> file into <code>C:\Silverpeas</code></li>
          <li>Sets the <code>%SILVERPEAS_HOME%</code> environment variable with the path <code>C:/Silverpeas/silverpeas-${installer_stable_version}-wildfly${current_wildfly_release}</code>
            (the slash instead of the backslash character as path separator is normal and SILVERPEAS_HOME should be set as such)</li>
        </ul>
        <p>
          In the next sections, we will refer the SILVERPEAS_HOME environment variable by its name (without the OS-specific characters like % or $).
        </p>
      </subsection>
      <subsection name="Proxy configuration">
        <p>
          The installation process starts by downloading from our <a href="https://www.silverpeas.org/nexus/">Nexus Repository Manager</a> the different software components that made up Silverpeas.
          Hence, an access to the Internet is required, so if you are behind a proxy, you have to define correctly its properties for the installer.
        </p>
        <p>
          Because the Silverpeas build life-cycle is managed with Maven (Nexus is a repository of Maven artifacts, id est software bundles), the installation program accesses the repository
          through an embedded Maven library (unlike Silverpeas 5, it doesn't require Apache Maven to be installed). So, the proxy configuration can be done with the usual user Maven settings.
          Please edit or create the file <code>.m2/settings.xml</code> in the home directory of the user that is responsible of the Silverpeas installation with the following instructions:
        </p>
        <source><![CDATA[<settings>
  ...
  <proxies>
   <proxy>
      <active>true</active>
      <protocol>http</protocol>
      <host>proxy.somewhere.com</host>
      <port>8080</port>
      <username>proxyuser</username>
      <password>somepassword</password>
      <nonProxyHosts>www.google.com|*.somewhere.com</nonProxyHosts>
    </proxy>
  </proxies>
  ...
</settings>]]></source>
        <p>
          For a complete configuration description, see this <a href="http://maven.apache.org/guides/mini/guide-proxies.html">Maven documentation page</a>.
          For a complete description of each parameter see <a href="http://maven.apache.org/ref/3.0.1/maven-settings/settings.html#proxy">Maven Settings.xml configuration page</a>.
        </p>
      </subsection>
      <subsection name="Configuration">
        <p>The configuration of Silverpeas is split into two main folders in the directory <code>SILVERPEAS_HOME/configuration</code>:</p>
        <ul>
          <li><code>jboss</code> with JBoss CLI scripts for configuring Wildfly in order to run Silverpeas,</li>
          <li><code>silverpeas</code> with Groovy and XML scripts for configuring the Silverpeas application itself.</li>
        </ul>
        <p>
          Usually you don't have to touch the content of these folders unless for some specific settings of your own. The only file to adapt to your need is the <code>SILVERPEAS_HOME/configuration/config.properties</code>
          global configuration file that can be created from the template <code>SILVERPEAS_HOME/configuration/sample_config.properties</code>. All the commented parameters declared in the global configuration file are set with
          their default value. To set some parameters with a different value, then just uncomment them and set the correct value. This file is used by the configuration process to set up both the Wildfly server and Silverpeas.
        </p>
        <p>
          Usually, the properties of the database to be used by Silverpeas have to be set explicitly into this configuration file. So, if it doesn't already exist, creates it from the template
          <code>SILVERPEAS_HOME/configuration/sample_config.properties</code> in the same directory and set the following properties with the parameters of the database.
          Example of such a <code>SILVERPEAS_HOME/configuration/config.properties</code> file:
        </p>
        <source><![CDATA[DB_SERVERTYPE = the database type (POSTGRESQL, MSSQL, or ORACLE)
DB_SERVER = the IP address or the DNS name of the database server
DB_USER = the login of the user with the administrative rights on the database
DB_PASSWORD = the password associated with the login above
DB_NAME = the name of the database if otherwise than Silverpeas]]></source>
        <p>
          Beside the global configuration file, the behaviour of some of the Silverpeas functionalities are parameterized through properties files in the directory <code>SILVERPEAS_HOME/properties</code> that is generated during
          the installation process. This setting can be refined either through a Groovy script or an XML script in <code>SILVERPEAS_HOME/configuration/silverpeas</code>. In the case of an XML script, as in Silverpeas 5, it is usually
          named <code>CustomerSettings.xml</code>. When you name your own scripts to configure some parts of Silverpeas, don't forget the scripts are loaded by the configuration process by their name and the
          <code>00-SilverpeasSettings.xml</code> script must be the first one to be executed. Below an example of such a <code>SILVERPEAS_HOME/configuration/silverpeas/CustomerSettings.xml</code> file:
        </p>
        <source>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;silverpeas-settings product="Custom"&gt;
  &lt;fileset root="${SILVERPEAS_HOME}/properties/org/silverpeas"&gt;

    &lt;configfile name="calendar/settings/calendar.properties"&gt;
      &lt;parameter key="calendar.import.ics.file.replace.before.process"&gt;&lt;![CDATA[CREATED:0000/CREATED:1970]]&gt;&lt;/parameter&gt;
    &lt;/configfile&gt;

    &lt;configfile name="general.properties"&gt;
      &lt;parameter key="web.request.domain.allowed"&gt;*&lt;/parameter&gt;
    &lt;/configfile&gt;

    &lt;configfile name="util/uploads/uploadSettings.properties"&gt;
      &lt;parameter key="MaximumFileSize"&gt;1610612736&lt;/parameter&gt;
    &lt;/configfile&gt;
  &lt;/fileset&gt;
&lt;/silverpeas-settings&gt;</source>
      </subsection>
      <subsection name="Installing Silverpeas">
        <p>
          The installation program is built upon the build automation system <a href="https://gradle.org/">Gradle</a>. You don't have to install it as the program will download it the first time you run it.
        </p>
        <p>
          For an upgrade, if the use of a new Silverpeas distribution isn't required, you just have to change the <code>version</code> variable in the <code>SILVERPEAS_HOME/bin/silverpeas.gradle</code> file with the new version of Silverpeas 6.
        </p>
        <p>
          To install or upgrade Silverpeas, that is to say to download Silverpeas, to configure it and then to deploy it into Wildfly, you just have to type, in the <code>SILVERPEAS_HOME/bin</code> directory:
        </p>
        <source>silverpeas clean install</source>
        <p>with:</p>
        <ul>
          <li><code>clean</code>: this command instructs to clean up any previous installation of Silverpeas;
            this command is required for an upgrade to force the installation process to rebuild and to configure Silverpeas. For a fresh installation, this command isn't required.</li>
          <li><code>install</code>: this command starts the installation process that follows then the following execution path:
            <ol>
              <li>if the Gradle's cache is empty, the software components that made up Silverpeas are then downloaded from our Nexus Repository and pushed in the cache, otherwise the version in the cache is used,</li>
              <li>the Silverpeas Web application is built,</li>
              <li>Wildfly/JBoss is configured to run the Silverpeas Web application,</li>
              <li>Silverpeas is configured,</li>
              <li>the database used by Silverpeas is either built (in the case of a fresh installation) or updated (in the case of an upgrade).</li>
            </ol>
           </li>
        </ul>
        <p>
          Once the installation or upgrade process done, you will find the bundles deployed in Wildfly/JBoss in the <code>SILVERPEAS_HOME/deployments/</code> directory.
        </p>
        <p>
          If you need only to reconfigure Silverpeas, you just have to type, in the <code>SILVERPEAS_HOME/bin</code> directory:
        </p>
        <source>silverpeas configure</source>
        <p>
          To know if the process has succeeded or what failed, you can consult the build log file in the <code>SILVERPEAS_HOME/log</code> directory whose the name starts with <code>build</code> and ends with the timestamp of the process.
        </p>
      </subsection>
      <subsection name="Launching Silverpeas">
        <p>To start Silverpeas, in the <code>SILVERPEAS_HOME/bin</code> directory:</p>
        <source>silverpeas start</source>
        <p>To stop Silverpeas, in the <code>SILVERPEAS_HOME/bin</code> directory:</p>
        <source>silverpeas stop</source>
        <p>To get the status of Silverpeas, in the <code>SILVERPEAS_HOME/bin</code> directory:</p>
        <source>silverpeas status</source>
        <p>
          Once started, you can access Silverpeas through the following url: <a href="http://localhost:8000/silverpeas">http://localhost:8000/silverpeas</a>
          and by using the default credentials <code>SilverAdmin/SilverAdmin</code>.
          <!-- Google Code for SuiviSilverpeas Conversion Page -->
          <script type="text/javascript">
            /* <![CDATA[ */
              var google_conversion_id = 1067623059;
              var google_conversion_language = "en";
              var google_conversion_format = "3";
              var google_conversion_color = "ffffff";
              var google_conversion_label = "wINQCMmd4AEQk8WK_QM";
              var google_conversion_value = 0;
              /* ]]> */
          </script>
          <script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
          </script>
          <noscript>
            <div style="display:inline;">
              <img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1067623059/?label=wINQCMmd4AEQk8WK_QM&amp;guid=ON&amp;script=0"/>
            </div>
          </noscript>
        </p>
      </subsection>
    </section>
  </body>
</document>
