<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2000 - 2020 Silverpeas

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    As a special exception to the terms and conditions of version 3.0 of
    the GPL, you may redistribute this Program in connection with Free/Libre
    Open Source Software ("FLOSS") applications as described in Silverpeas's
    FLOSS exception.  You should have received a copy of the text describing
    the FLOSS exception, and it is also available here:
    "http://www.silverpeas.org/docs/core/legal/floss_exception.html"

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->

<document xmlns="http://maven.apache.org/XDOC/2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>Try Silverpeas easily</title>
    <author>Emmanuel Hugonnet</author>
    <author>Miguel Moquillon</author>
  </properties>
  <head>
  </head>
  <body>
    <section name="Try Silverpeas easily with our Graphical Installer">
      <p>
        <img src="../images/logos/logo_izPack.png" alt="izpack" style="padding-right:10px;float:left;position:relative;"/>
        <br/>We provide an easy way to try Silverpeas using
        <a href="http://izpack.org/">IzPack</a> with a pre-configured Wildfly application server and an H2 Database.
      </p>
      <p>The following requirements have to be satisfied:</p>
      <ul>
        <li>You have to have a Java 8 JDK installed.</li>
        <li>You have to have <a href="http://www.imagemagick.org/script/index.php">ImageMagick</a> installed as it is required to render images and the preview of documents</li>
        <li>You have to have <a href="https://www.libreoffice.org/">LibreOffice</a> installed in its default path as it is required for both the documents conversion (used in the document preview) and export</li>
        <li>This version is not suitable for production, only for testing purpose!</li>
      </ul>
      <ol>
        <li>Download the
          <a href="http://www.silverpeas.org/files/Silverpeas-${installer_izpack_version}-installer.jar">installer</a> (~ 253 Mo)
        </li>
        <li>Run the following command (or double click on the jar file)
          <code>java -jar Silverpeas-${installer_izpack_version}-installer.jar</code>
        </li>
        <li>When all has been installed, you can then play with Silverpeas by executing one of the following command in the <code>bin</code>
          directory of the Silverpeas installation path:
          <ul>
            <li>To start Silverpeas: <code>silverpeas start</code></li>
            <li>To stop Silverpeas: <code>silverpeas stop</code></li>
          </ul>
        </li>
        <li>Now you can open a browser to
          <a href="http://localhost:8000/silverpeas">http://localhost:8000/silverpeas</a> and sign in using the account
          <i>SilverAdmin/SilverAdmin</i>
        </li>
        <li>For
          <b>Mac Users</b>, there seems to be a problem when trying Silverpeas offline, Mac OS X Lion doesn't resolve
          <i>localhost</i>.  If you encounter this issue, use the following command:
          <source>sudo ifconfig en0 alias 127.0.0.1</source>.
        </li>
      </ol>
    </section>
    <section name="Try Silverpeas easily from our Docker image dedicated explicitly to tests">
      <p>
        <img src="../images/logos/logo_docker.png" alt="docker" style="padding-right:10px;float:left;position:relative;"/><br/>
        Silverpeas can be also easily tested by using the Docker image of Silverpeas 6 dedicated to tests. You can
        find it in our <a href="https://hub.docker.com/r/silverpeas/silverpeas-test/">Docker repository</a>.
      </p>
      <p>The <a href="https://hub.docker.com/r/silverpeas/silverpeas-test/">Docker repository</a> of our tests images
        provides both a Docker image to test a stable version of Silverpeas and a Docker image with the latest build
        version of the next stable major release of Silverpeas</p>
    </section>
  </body>
</document>
